// Navigation Trigger element to toggle Nav visibility
#nav-trigger {
	position: fixed;
	right: 0;
	top: 0;
	padding: 1em;
	z-index: 100;
	cursor: pointer;
}

// Navigation itself
nav {
	position: fixed;
	top: -$nav-height;
	width: 100%;
	max-height: $nav-height;
	height: $nav-height;
	z-index: 10;
	background-color: $sec-color;
	.flex {
		height: 100%;
	}
	// animation: NAME DELAY LIN/EAS... FORWARD?
}

.nav-element {
	padding: 1em;
	align-self: center;
	a {
		color: $font-color;
		text-decoration: none;
	}
}

// Navigation appear animations
// Slide down from top
@keyframes slide_down {
	0% {
		top: -$nav-height;
	}
	100% {
		top: 0;
	}
}

// Slide in from left
@keyframes slide_to_right {
	0% {
		top: 0;
		left: -100%;
	}
	100% {
		top: 0;
		left: 0;
	}
}
// Slide in from right
@keyframes slide_to_left {
	0% {
		top: 0;
		right: -100%;
	}
	100% {
		top: 0;
		right: 0;
	}
}
// Zoom in


// Swing in


// todo more

// Navigation disappear animations
// Slide up
@keyframes slide_up_go {
	0% {
		top: 0;
	}
	100% {
		top: -$nav-height;
	}
}
// Slide out to the right
@keyframes slide_to_right_go {
	0% {
		top: 0;
		left: 0;
	}
	100% {
		top: 0;
		left: 100%;
	}
}
// Slide out to the left
@keyframes slide_to_left_go {
	0% {
		top: 0;
		right: 0;
	}
	100% {
		top: 0;
		right: 100%;
	}
}