@import 'parts/variables';

// INTRO
#intro {
    .inner {
        display: flex;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        .textbox {
            flex-basis: calc(50% - 2.5em);
            min-width: 500px;
            margin: 1em 0.5em 1em 2em;
            flex:auto;
            .wrap {
                .text-segment p{}
            }
        }
        .imgbox {
            flex-basis: calc(50% - 2.5em);
            min-width: 500px;
            margin: 1em 2em 1em 0.5em;
            position: relative;
            .head {
                width: 100%;
            }
            .eye {
                position: absolute;
                border: 1px solid black;
                &.left {
                    top: 0px;
                    left: 0px;
                }
                &.right {
                    top: 0px;
                    left: 100px;
                }
            }
        }
    }
}
// challenge
#challenge {
    .inner {
        .current {
            .progress {
                display: flex;
                .box {
                    text-align: center;
                    flex-grow: 1;
                    padding-top: 1.25em;
                    p {
                        margin: 0 1em;
                    }
                }
                .progressbar {
                    position: relative;
                    width: 95%;
                    height: 50px;
                    margin: 20px auto;
                    border: 3px solid $darken_bg;
                    border-radius: 5px;
                    background-color: $darken_bg;
                    overflow: hidden;
                    flex-grow: 2;
                    span {
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        font-size: 2em;
                        font-weight: bold;
                        padding-top: 3px;
                    }
                    .filler {
                        display: block;
                        position: absolute;
                        width: 56%;
                        height: 2.8em;
                        background: $lighten_bg;
                    }
                }
            }
        }
        .past {
            .past-list {
                display: flex;
                .element {
                    flex-basis: 150px;
                    .wrap {
                        padding: 1em;
                        border: 4px solid #444;
                        border-radius: 0.5em;
                        p:first-child {
                            margin-top:0em;
                        }
                    }
                }
            }
        }
    }
}

//project-showcase
#showcase {
    .inner {
        max-width: 1280px;
        margin: 0 auto;
        .show-list {
            display: flex;
            overflow-x: hidden;
            .showcase {
                display: flex;
                justify-content: center;
                flex: 0 0 100%;
                .imgbox {
                    flex-basis: 40%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    &:before{
                        content: "";
                        display: block;
                        padding-top: 100%;
                    }
                }
                .textbox {
                    flex-basis: calc(60% - 1em);
                    padding-left: 1em;
                }
                &.active {
                }
                &:not(:first-child) {
                    
                }
            }
        }
        .project-nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            margin-top: 2em;
            .element {
                height: 100px;
                width: 100px;
                padding:0.25em;
                cursor:pointer;
                &.active {
                    background-color: #666!important;
                }
                &:hover {
                    background-color: $lighten_bg;
                }
                .wrap {
                    pointer-events: none;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .view {
            margin-top: 2em;
            .wrap {
                text-align: center;

            }
        }
    }
}

// CONTACT

#contact {
    .platform-list {
        display: flex;
        justify-content: space-evenly;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        .element {
            width: 100px;
            padding: 1em;
            a {
                display: flex;
                justify-content:center;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                color: $font-color;
                text-decoration: none;
                img {
                    max-width: 150px;
                    max-height: 150px;
                }
                p {
                    text-align: center;
                    font-size: 1.5em;
                    margin: 0.5em 0em;
                }
            }
            &:hover {
                a {
                    text-decoration: underline;
                }
            }
        }
    }
    .mail-list {
        .wrap {
            display: flex;
            justify-content: space-between;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            .element {
                width: calc(30% - 2em);
                margin: 1em;
                div:first-child {
                    width: 4em;
                    img {
                        width: 100%;
                    }
                }
                
            }
        }
    }
}

#info-dock {
    position: fixed;
    left: 100%;
    top: 20%;
    padding: 1em;
    background-color: $darken_bg;
    transition: left 300ms ease;
    z-index: 1000;
    .inner {
        position: relative;
        .out {
            position: absolute;
            left: -117px;
            top: -1em;
            background-color: $darken_bg;
            padding-bottom: 2px;
            cursor: pointer;
            pre {pointer-events: none;}
        }
        .in {
            width: 200px;
        }
    }
    &.open {
        left: calc(100% - (200px + 2em));
    }
}

.img-text-block {
    margin-top: 100px;
    .inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .img-box {
            flex-basis: calc(60% - 4em);
            img {width: 100%;}
        }
        .text-box {
            flex-basis: 40%;
        }
    }
}

@media only screen and (max-width: 1200px) {
  #intro .inner .textbox {
    flex-basis: 100%;
    min-width: inherit;
    margin: 0;
  }
    .img-text-block .inner {
        justify-content: center;
        .text-box {
            flex-basis: 100%;
        }
    }
}

@media only screen and (max-width: 980px) {
    #intro .inner {
        display:block;
    }
    #contact .mail-list .wrap {
        display: block;
        .element {
            width: 100%;
            margin: 4em 2em;
            img {
            }
        }
    }
}