footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: $doc_width;
    margin: 6em auto 0em;
    border-top: 2px solid $lighten_bg;
    .inner {
        display: flex;
        justify-content: flex-start;
        .element {
            padding: 1em;
            .inner {

                a {
                    color: $font_color;
                    text-decoration: none;
                }
                p {
                    
                }
            }
        }
    }
}