nav {
    width: 100%;
    background-color: #444;
    margin-top: 0;
    transition: margin-top 300ms ease;
    &.sticky {
        position: fixed;
        margin-top:-8em;
        top: 0;
        &:hover {
            margin-top: 0;
        }
        .inner {
            .element {
                padding-bottom: 1em;
                .inner {
                    .dev_icon {
                        width: 6em;
                        height: 6em;
                    }
                    p {
                        margin-top: 0.5em;
                        font-size: 1.5em;
                        transition: font-size 300ms ease;
                    }
                }
            }
        }
    }
    .inner {
        display: flex;
        justify-content: space-between;
        max-width: $doc_width;
        margin: 0 auto;
        .element {
            padding: 2em;
            .inner {
                display: flex;
                align-items: center;
                flex-direction: column;
                text-decoration: none;
                .dev_icon {
                    width: 6em;
                    height: 6em;
                    background-color: #FFF;
                    display: block;
                    color:#000;
                }
                p {
                    font-size: 3em;
                    margin:0;
                    color: $font_color;
                    &.active {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}