{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content|raw }}
	
	{% set project_collection = page.collection({ items: {'@page.children': '/projects/'}, 'limit': 5, 'order': {'by': 'date', 'dir': 'desc'}, 'pagination': true }) %}
	
	<section id="project-list">
		{% for page in project_collection %}

			<div class="project">
	        	<a href="{{ page.url}}">
		        	<div class="inner">
		        		<div class="text-box">
		        			<p>{{ page.menu }}</p>
		        			<p>{{ page.header.teaser_text }}</p>
		        		</div>
		        	</div>
	            </a>
	        </div>

	    {% endfor %}
	</section>

{% endblock %}