{% block header %}
<header>
    <div class="inner">
        <div class="text-box">
            <p class="headline">{{ header.header_title }}</p>
            <p class="msg">{{ header.header_msg }}</p>
        </div>
    </div>
</header>
{% endblock %}