{% block intro %}
	<div id="intro-window" class="fullview intro">
		<canvas id="intro-canvas" width="2000" height="1000" onresize="resize_canvas"></canvas>
		<div class="inner">
			<div class="text-block">
				<p>Lorem ipsum dolor sit amet</p>
				<a id="close-intro" class="btn">Go to page</a>
			</div>
		</div>
	</div>
{% endblock %}